.low-opacity-bg-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpj6UuwR-IGBiPotVUwDEsfMvmRR1vt-S0_-Gxtq6LmQ&s=10");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    text-align: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents scrollbars */
    position: relative;
    isolation: isolate;
}
.low-opacity-bg-image::after {
content: '';
position: absolute;
z-index: -1;
inset: 0; 
background: white;
opacity: .67;
}
h1 {
    font-size: 40px;
    color: rgb(50, 9, 10);
    text-align: center;
    margin-top: 100px;
    font-family: Eternalove;
}
h2 { 
    
    font-size: 20px;
    color: rgb(2, 15, 73);
    text-align: center;
    margin-top: -80px;
    font-family: Eternalove;
    max-width: 300px;       /* Restricts the paragraph from stretching too wide */
    margin-left: 530px;         /* Centers the entire paragraph block horizontally */
    text-align: justify;    /* Aligns text evenly on both left and right sides */
    line-height: 1.3;  
}
.film-sticker {
    width: 150px;
    position: absolute;
    top: 50px;
    left: 240px;
}
.map-sticker {
    width: 150px;
    position: absolute;
    top: 190px;
    bottom: 200px;
    left: 350px;
}
.third-sticker {
    width: 150px;
    position: absolute;
    top:280px;
    bottom: 200px;
    left: 190px;
}
    
